---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
import { getCollection } from 'astro:content';

const allProducts = await getCollection("products");
---
<Layout>
  <Hero />
  <section class="products container">
    {allProducts.map((product) => <ProductCard title={product.data.title} image={product.data.image} price={product.data.price} />)}
  </section>
</Layout>

<style>
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
  }
</style>
