---
import ProductCard from "./ProductCard.astro";
import { getCollection } from "astro:content";



const allProducts = await getCollection("products");

const randomProducts = allProducts.sort(() => Math.random() - Math.random()).slice(0, 3);

---
<section class="container row">
  <div class="col">
    <h2>Crafted with excellent materials</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus facilis odit repellat ipsa suscipit dolores?</p>
    <a class="btn btn-dark" role="button" href="#">Explore</a>
  </div>
  
  {randomProducts.map((product) => <ProductCard title={product.data.title} image={product.data.image} price={product.data.price} />)}
</section>