---
---
<footer class="container">
  <div class="row">
    <div class="newsletter col">
      <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_80_40)">
        <path d="M22.9375 4.5H5.0625C3.90234 4.5 3 5.44531 3 6.5625V18.9375C3 20.0977 3.90234 21 5.0625 21H22.9375C24.0547 21 25 20.0977 25 18.9375V6.5625C25 5.44531 24.0547 4.5 22.9375 4.5ZM22.9375 6.5625V8.32422C21.9492 9.14062 20.4023 10.3438 17.1367 12.9219C16.4062 13.4805 14.9883 14.8555 14 14.8125C12.9688 14.8555 11.5508 13.4805 10.8203 12.9219C7.55469 10.3438 6.00781 9.14062 5.0625 8.32422V6.5625H22.9375ZM5.0625 18.9375V10.9883C6.00781 11.7617 7.42578 12.8789 9.53125 14.5547C10.4766 15.2852 12.1523 16.918 14 16.875C15.8047 16.918 17.4375 15.2852 18.4258 14.5547C20.5312 12.8789 21.9492 11.7617 22.9375 10.9883V18.9375H5.0625Z" fill="#C4C4C4"/>
        </g>
        <defs>
        <clipPath id="clip0_80_40">
        <rect width="28" height="27" fill="white"/>
        </clipPath>
        </defs>
      </svg>
      <h3 class="subscribe">Subscribe to Newsletter</h3>
      <form action="">
        <input type="text" name="name" id="name" placeholder="Enter your name">
        <input type="email" name="email" id="email" placeholder="Enter tour email">
        <button type="submit" class="btn">
          <svg fill="#000000" height="20pxpx" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	          viewBox="0 0 511.952 511.952" xml:space="preserve">
            <g>
              <g>
                <path d="M511.927,7.632c-0.017-0.188-0.094-0.367-0.128-0.555c-0.085-0.529-0.154-1.075-0.35-1.579
                  c-0.009-0.051-0.06-0.102-0.085-0.171c-0.068-0.179-0.196-0.333-0.273-0.512c-0.128-0.265-0.265-0.503-0.41-0.76
                  c-0.247-0.384-0.512-0.759-0.819-1.109c-0.094-0.111-0.119-0.247-0.213-0.341c-0.12-0.128-0.282-0.162-0.393-0.282
                  c-0.12-0.102-0.213-0.239-0.333-0.341c-0.068-0.051-0.102-0.137-0.171-0.188c-0.017-0.017-0.034-0.017-0.051-0.026
                  c-0.034-0.026-0.051-0.051-0.077-0.077c-0.418-0.324-0.905-0.529-1.374-0.759c-0.188-0.102-0.358-0.23-0.555-0.316
                  c-0.222-0.085-0.444-0.137-0.666-0.205c-0.273-0.094-0.555-0.137-0.845-0.196c-0.427-0.085-0.853-0.188-1.28-0.213
                  c-0.273-0.017-0.529,0.034-0.794,0.043c-0.034,0-0.068,0.009-0.102,0.009c-0.273,0.008-0.529,0-0.794,0.043
                  c-0.427,0.06-0.828,0.188-1.246,0.316c-0.29,0.085-0.563,0.171-0.853,0.29c-0.188,0.085-0.393,0.111-0.58,0.205L21.67,248.375
                  c-14.08,7.296-21.973,18.304-21.649,30.216c0.307,11.494,8.354,21.623,22.212,27.87l92.194,39.509
                  c4.292,1.86,9.353-0.145,11.204-4.48c1.852-4.326-0.154-9.344-4.489-11.204l-92.041-39.45
                  c-7.518-3.388-11.887-8.021-12.023-12.706c-0.137-5.043,4.514-10.496,12.442-14.601L454.225,43.592L139.174,343.641
                  c-0.017,0.026-0.026,0.06-0.051,0.077c-0.572,0.555-0.956,1.246-1.348,1.929c-0.162,0.282-0.418,0.521-0.555,0.811
                  c-0.119,0.29-0.111,0.614-0.196,0.913c-0.239,0.777-0.469,1.553-0.478,2.355c0,0.034-0.017,0.06-0.017,0.094v153.6
                  c0,0.828,0.137,1.63,0.358,2.406c0.009,0.026,0.009,0.06,0.017,0.094c0.29,0.939,0.785,1.792,1.374,2.586
                  c0.171,0.23,0.375,0.427,0.572,0.631c0.521,0.563,1.101,1.05,1.758,1.451c0.171,0.111,0.265,0.273,0.435,0.358
                  c0.145,0.077,0.307,0.111,0.444,0.171c0.111,0.051,0.188,0.137,0.307,0.188c0.119,0.051,0.239,0.026,0.367,0.068
                  c0.956,0.35,1.929,0.58,2.893,0.58h0.009h0.008c0.99-0.009,1.937-0.23,2.859-0.563c0.239-0.085,0.469-0.188,0.7-0.299
                  c0.845-0.384,1.63-0.888,2.321-1.536c0.034-0.043,0.102-0.06,0.145-0.102l0.085-0.085c0.009-0.009,0.017-0.017,0.026-0.026
                  l85.222-85.222c3.336-3.336,3.336-8.73,0-12.066c-3.337-3.337-8.73-3.337-12.066,0l-44.774,44.774l40.934-76.749L487.59,42.32
                  l-79.172,374.221c-1.493,7.202-4.838,12.382-9.668,14.976c-5.222,2.799-12.023,2.645-19.78-0.444L247.3,379.549
                  c-4.369-1.707-9.327,0.452-11.059,4.838c-1.715,4.386,0.452,9.344,4.847,11.059l131.61,51.49c6.007,2.406,11.972,3.61,17.621,3.61
                  c5.939,0,11.546-1.331,16.503-3.994c9.293-4.983,15.795-14.413,18.304-26.505l86.69-409.796c0.068-0.341,0.034-0.691,0.06-1.041
                  c0.026-0.29,0.068-0.563,0.06-0.862C511.936,8.11,511.953,7.871,511.927,7.632z M206.638,370.128
                  c-0.162,0.196-0.205,0.452-0.333,0.666c-0.154,0.222-0.375,0.367-0.512,0.606l-52.198,97.877V353.471l268.1-255.334
                  L206.638,370.128z"/>
              </g>
            </g>
            </svg>
        </button>
      </form>

    </div>
    <div class="sofa col">
      <img src="/src/images/sofa.png" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <h2>Furni.</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni dolorum vero voluptatem ullam quasi eius impedit qui iste enim sit!</p>
      <div class="social-links">
        <a href="#">
          <svg viewBox="0 0 128 128" width="20px" height="20px">
            <rect fill="#3d5a98" x="4.83" y="4.83" width="118.35" height="118.35" rx="6.53" ry="6.53"></rect><path fill="#fff" d="M86.48 123.17V77.34h15.38l2.3-17.86H86.48v-11.4c0-5.17 1.44-8.7 8.85-8.7h9.46v-16A126.56 126.56 0 0091 22.7c-13.62 0-23 8.3-23 23.61v13.17H52.62v17.86H68v45.83z"></path>
            </svg>
        </a>
        <a href="#">
          <svg viewBox="0 0 128 128" width="20px" height="20px">
            <path d="M40.254 127.637c48.305 0 74.719-48.957 74.719-91.403 0-1.39 0-2.777-.075-4.156 5.141-4.547 9.579-10.18 13.102-16.633-4.79 2.602-9.871 4.305-15.078 5.063 5.48-4.02 9.582-10.336 11.539-17.774-5.156 3.743-10.797 6.38-16.68 7.801-8.136-10.586-21.07-13.18-31.547-6.32-10.472 6.86-15.882 21.46-13.199 35.617C41.922 38.539 22.246 26.336 8.915 6.27 1.933 20.94 5.487 39.723 17.022 49.16c-4.148-.172-8.207-1.555-11.832-4.031v.41c0 15.273 8.786 28.438 21.02 31.492a21.596 21.596 0 01-11.863.543c3.437 13.094 13.297 22.07 24.535 22.328-9.305 8.918-20.793 13.75-32.617 13.72-2.094 0-4.188-.15-6.266-.446 12.008 9.433 25.98 14.441 40.254 14.422" fill="#1da1f2"></path>
            </svg>
        </a>
        <a href="#">
          <svg viewBox="0 0 128 128"  width="20px" height="20px">
            <g fill="#181616"><path fill-rule="evenodd" clip-rule="evenodd" d="M64 5.103c-33.347 0-60.388 27.035-60.388 60.388 0 26.682 17.303 49.317 41.297 57.303 3.017.56 4.125-1.31 4.125-2.905 0-1.44-.056-6.197-.082-11.243-16.8 3.653-20.345-7.125-20.345-7.125-2.747-6.98-6.705-8.836-6.705-8.836-5.48-3.748.413-3.67.413-3.67 6.063.425 9.257 6.223 9.257 6.223 5.386 9.23 14.127 6.562 17.573 5.02.542-3.903 2.107-6.568 3.834-8.076-13.413-1.525-27.514-6.704-27.514-29.843 0-6.593 2.36-11.98 6.223-16.21-.628-1.52-2.695-7.662.584-15.98 0 0 5.07-1.623 16.61 6.19C53.7 35 58.867 34.327 64 34.304c5.13.023 10.3.694 15.127 2.033 11.526-7.813 16.59-6.19 16.59-6.19 3.287 8.317 1.22 14.46.593 15.98 3.872 4.23 6.215 9.617 6.215 16.21 0 23.194-14.127 28.3-27.574 29.796 2.167 1.874 4.097 5.55 4.097 11.183 0 8.08-.07 14.583-.07 16.572 0 1.607 1.088 3.49 4.148 2.897 23.98-7.994 41.263-30.622 41.263-57.294C124.388 32.14 97.35 5.104 64 5.104z"></path><path d="M26.484 91.806c-.133.3-.605.39-1.035.185-.44-.196-.685-.605-.543-.906.13-.31.603-.395 1.04-.188.44.197.69.61.537.91zm2.446 2.729c-.287.267-.85.143-1.232-.28-.396-.42-.47-.983-.177-1.254.298-.266.844-.14 1.24.28.394.426.472.984.17 1.255zM31.312 98.012c-.37.258-.976.017-1.35-.52-.37-.538-.37-1.183.01-1.44.373-.258.97-.025 1.35.507.368.545.368 1.19-.01 1.452zm3.261 3.361c-.33.365-1.036.267-1.552-.23-.527-.487-.674-1.18-.343-1.544.336-.366 1.045-.264 1.564.23.527.486.686 1.18.333 1.543zm4.5 1.951c-.147.473-.825.688-1.51.486-.683-.207-1.13-.76-.99-1.238.14-.477.823-.7 1.512-.485.683.206 1.13.756.988 1.237zm4.943.361c.017.498-.563.91-1.28.92-.723.017-1.308-.387-1.315-.877 0-.503.568-.91 1.29-.924.717-.013 1.306.387 1.306.88zm4.598-.782c.086.485-.413.984-1.126 1.117-.7.13-1.35-.172-1.44-.653-.086-.498.422-.997 1.122-1.126.714-.123 1.354.17 1.444.663zm0 0"></path></g>
            </svg> 
        </a>
        <a href="#">
          <svg viewBox="0 0 128 128" width="20px" height="20px">
            <path fill="#0076b2" d="M116 3H12a8.91 8.91 0 00-9 8.8v104.42a8.91 8.91 0 009 8.78h104a8.93 8.93 0 009-8.81V11.77A8.93 8.93 0 00116 3z"></path><path fill="#fff" d="M21.06 48.73h18.11V107H21.06zm9.06-29a10.5 10.5 0 11-10.5 10.49 10.5 10.5 0 0110.5-10.49M50.53 48.73h17.36v8h.24c2.42-4.58 8.32-9.41 17.13-9.41C103.6 47.28 107 59.35 107 75v32H88.89V78.65c0-6.75-.12-15.44-9.41-15.44s-10.87 7.36-10.87 15V107H50.53z"></path>
            </svg>
        </a>
      </div>
    </div>
    <div class="col-md row">
      <ul class="col">
        <li><a href="#" target="_blank">About us</a></li>
        <li><a href="#" target="_blank">Services</a></li>
        <li><a href="#" target="_blank">Blog</a></li>
        <li><a href="#" target="_blank">Contact us</a></li>
      </ul>
      <ul class="col">
        <li><a href="#" target="_blank">Support</a></li>
        <li><a href="#" target="_blank">Knowledge base</a></li>
        <li><a href="#" target="_blank">Live chat</a></li>
      </ul>
    </div>
    <div class="col row">
      <ul class="col">
        <li><a href="#" target="_blank">jobs</a></li>
        <li><a href="#" target="_blank">Our team</a></li>
        <li><a href="#" target="_blank">Leadership</a></li>
        <li><a href="#" target="_blank">Privacy Policy</a></li>
      </ul>
      <ul class="col">
        <li><a href="#" target="_blank">Notdic Chair</a></li>
        <li><a href="#" target="_blank">Kruzo Aero</a></li>
        <li><a href="#" target="_blank">Ergonomic Chair</a></li>
      </ul>
    </div>
  </div>

</footer>

<style>
  .subscribe {
    display: inline-block;
  }

  footer li {
    list-style: none;
  }

  footer a {
    text-decoration: none;
  }
</style>