---
import sofa from '../images/sofa.png';
---
<footer class="text-main py-5">
<div class="container position-relative py-5">
<img src={sofa.src} alt="" class="sofa position-absolute">

  <div class="newsletter">
    <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_80_40)">
      <path d="M22.9375 4.5H5.0625C3.90234 4.5 3 5.44531 3 6.5625V18.9375C3 20.0977 3.90234 21 5.0625 21H22.9375C24.0547 21 25 20.0977 25 18.9375V6.5625C25 5.44531 24.0547 4.5 22.9375 4.5ZM22.9375 6.5625V8.32422C21.9492 9.14062 20.4023 10.3438 17.1367 12.9219C16.4062 13.4805 14.9883 14.8555 14 14.8125C12.9688 14.8555 11.5508 13.4805 10.8203 12.9219C7.55469 10.3438 6.00781 9.14062 5.0625 8.32422V6.5625H22.9375ZM5.0625 18.9375V10.9883C6.00781 11.7617 7.42578 12.8789 9.53125 14.5547C10.4766 15.2852 12.1523 16.918 14 16.875C15.8047 16.918 17.4375 15.2852 18.4258 14.5547C20.5312 12.8789 21.9492 11.7617 22.9375 10.9883V18.9375H5.0625Z" fill="#C4C4C4"/>
      </g>
      <defs>
      <clipPath id="clip0_80_40">
      <rect width="28" height="27" fill="white"/>
      </clipPath>
      </defs>
    </svg>
    <h3 class="subscribe">Subscribe to Newsletter</h3>
    <form action="">
      <input type="text" name="name" id="name" placeholder="Enter your name" class="form-control">
      <input type="email" name="email" id="email" placeholder="Enter tour email" class="form-control">
      <button type="submit" class="btn rounded-3 send col">
        <span class="fa fa-paper-plane"></span>
      </button>
    </form>

</div>
<h2 class="footer-title">Furni.</h2>
<div class="row">
  <div class="col-lg-3">
    <p class="footer-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni dolorum vero voluptatem ullam quasi eius impedit qui iste enim sit!</p>
    <div class="social-links">
      <a  class="link" href="#">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a class="link" href="#">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a class="link" href="#">
        <i class="fa-brands fa-instagram"></i> 
      </a>
      <a class="link" href="#">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="col-md row">
    <ul class="col">
      <li><a href="#" target="_blank">About us</a></li>
      <li><a href="#" target="_blank">Services</a></li>
      <li><a href="#" target="_blank">Blog</a></li>
      <li><a href="#" target="_blank">Contact us</a></li>
    </ul>
    <ul class="col">
      <li><a href="#" target="_blank">Support</a></li>
      <li><a href="#" target="_blank">Knowledge base</a></li>
      <li><a href="#" target="_blank">Live chat</a></li>
    </ul>
  </div>
  <div class="col-lg row">
    <ul class="col">
      <li><a href="#" target="_blank">jobs</a></li>
      <li><a href="#" target="_blank">Our team</a></li>
      <li><a href="#" target="_blank">Leadership</a></li>
      <li><a href="#" target="_blank">Privacy Policy</a></li>
    </ul>
    <ul class="col">
      <li><a href="#" target="_blank">Nordic Chair</a></li>
      <li><a href="#" target="_blank">Kruzo Aero</a></li>
      <li><a href="#" target="_blank">Ergonomic Chair</a></li>
    </ul>
  </div>
</div>
</div>
</footer>

<style>

  .newsletter {
    margin-top: 5em;
  }
  .subscribe {
    display: inline-block;
    font-size: 1.125em;
    color: #3b5d50;
  }

  .form-control {
    display: inline-block;
    max-width: 240px;
    padding: 1em;
    font-size: 0.875em;
  }

  form {
    margin-bottom: 5em;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  }

  .send {
    background-color: #3b5d50;
    padding: 1em 2em;
    color: white;
    opacity: 1;
    transition: opacity 0.3s ease;
    max-width: fit-content;
  }

  .send:hover {
    opacity: 0.9;
  }

  footer li {
    list-style: none;

  }

  footer a {
    text-decoration: none;
    color: #2f2f2f;
    font-size: 0.875em;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  footer a:hover {
    opacity: 0.8;
  }

  .sofa {
    max-width: 380px;
    top: -30%;
    right: 0;
  }

  .row {
    gap: 2em;
  }

  .footer-title {
    color: #3b5d50;
    font-size: 2em;
    margin-bottom: 1em;
  }

  .footer-text {
    font-size: 0.875em;
  }

  .link {
    text-align: center;
    & i {
      background-color: #dce5e4;
      margin-right: 0.5em;
      border-radius: 50%;
      padding: 0.875em;
      color: #3b5d50;
      width: 3em;
      transition: all 0.3s ease;
    }
  }

  .link:hover {
    & i {
      background-color: #3b5d50;
      color: #dce5e4;
    }
  } 

  @media (max-width: 768px) {
    .sofa {
      top: -20%;
    }

    form {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>