---
import TeamCard from "./TeamCard.astro";
import person1 from '../images/person_1.jpg';
import person2 from '../images/person_2.jpg';
import person3 from '../images/person_3.jpg';
import person4 from '../images/person_4.jpg';

const team = [
  {
    image: {
      url: person1.src,
      alt: 'Lawson Arnold',
    },
    name: 'Lawson Arnold',
    position: 'CEO, Founder, Atty.',
    description: 'Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.',
  },
  {
    image: {
      url: person2.src,
      alt: 'Jeremy Walker',
    },
    name: 'Jeremy Walker',
    position: 'CEO, Founder, Atty.',
    description: 'Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.',
  },
  {
    image: {
      url: person3.src,
      alt: 'Patric White',
    },
    name: 'Patric White',
    position: 'CEO, Founder, Atty.',
    description: 'Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.',
  },
  {
    image: {
      url: person4.src,
      alt: 'Katryn Ryan',
    },
    name: 'Katryn Ryan',
    position: 'CEO, Founder, Atty.',
    description: 'Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.',
  },
]
---
<section class="our-team bg-main py-5 text-main">
  <h3 class="text-center">Our team</h3>
  <div class="container row">
  {team.map(member => <TeamCard image={member.image} name={member.name} position={member.position} description={member.description} />)}
  </div>
</section>
