---
import { getCollection } from 'astro:content';
import PostCard from '../components/PostCard.astro';

const allPosts = await getCollection("posts");

// const dates = [...new Set(allPosts.map(post => post.data.pubDate).flat())];
// const datesSorted = dates.sort();
// const recentThree = datesSorted.slice(-3);

const postsSorted = allPosts.sort((a , b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

const recentThree = postsSorted.slice(-3);

---
<section class="container">
  <h2>Recent Blog</h2>
  <a href="#">View all posts</a>
  <div class="posts">
    {recentThree.map((post) => <PostCard image={post.data.image} title={post.data.title} author={post.data.author} date={post.data.pubDate} />
    )}
  </div>
</section>

<style>
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }
</style>