---
import person1 from '/src/images/person-1.jpg'

const slides = [
  {
    title: 'Maria Jones',
    subTitle: 'CEO, Co-Founder, XYZ Inc.',
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ut nesciunt temporibus qui sit harum officia sint, soluta, cum, ea quas accusantium ab deserunt consectetur quibusdam nisi aliquam sed mollitia!',
    img: {
      url: person1.src,
      alt: 'Picture of Maria Jones',
    },
  },
  {
    title: 'Maria Jones',
    subTitle: 'CEO, Co-Founder, XYZ Inc.',
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ut nesciunt temporibus qui sit harum officia sint, soluta, cum, ea quas accusantium ab deserunt consectetur quibusdam nisi aliquam sed mollitia!',
    img: {
      url: person1.src,
      alt: 'Picture of Maria Jones',
    },
  },
  {
    title: 'Maria Jones',
    subTitle: 'CEO, Co-Founder, XYZ Inc.',
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ut nesciunt temporibus qui sit harum officia sint, soluta, cum, ea quas accusantium ab deserunt consectetur quibusdam nisi aliquam sed mollitia!',
    img: {
      url: person1.src,
      alt: 'Picture of Maria Jones',
    },
  },
];

---
<section>
  <h2>Testimonials</h2>

  <div class="testimonials-container">
    <div class="testimonial-item"></div>
    <button id="previous" class="btn btn-outline-dark">Previous</button>
    <button id="next" class="btn btn-outline-dark">Next</button>
  </div>

</section>

