---
import { getCollection } from 'astro:content';
import chooseImage from '../images/why-choose-us.jpg';
import ServiceCard from './ServiceCard.astro';

const allServices = await getCollection("services");
const mainServices = allServices.slice(0, 4);

---
<section class="container row">
  <div class="col">
    <h2>Why Choose Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum distinctio voluptatibus esse praesentium ratione quod doloremque accusantium, nostrum fugiat provident?</p>
    <div class="choose-cards col">
      { mainServices.map(service => <ServiceCard svg={service.data.svg} title={service.data.title} description={service.data.description}  /> ) }
    </div>
  </div>

  <div class="col">
    <img class="choose-image rounded-4" src={chooseImage.src} alt="Picture of a table next to a couch">
  </div>
</section>

<style>
  .choose-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
  .choose-image {
    max-width: 450px;
    height: auto;
  }

</style>