---
import { getCollection } from 'astro:content';
import chooseImage from '../images/why-choose-us.jpg';
import ServiceCard from './ServiceCard.astro';

const allServices = await getCollection("services");
const mainServices = allServices.slice(0, 4);

---
<section class="choose-us bg-main text-main py-5" >
<div class="container row py-5" >
  <div class="col-lg-5">
    <h2>Why Choose Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum distinctio voluptatibus esse praesentium ratione quod doloremque accusantium, nostrum fugiat provident?</p>
    <div class="choose-cards col">
      { mainServices.map(service => <ServiceCard svg={service.data.svg} title={service.data.title} description={service.data.description}  /> ) }
    </div>
  </div>
  
  <div class="col-lg-5 image-container">
    <img class="choose-image rounded-4" src={chooseImage.src} alt="Picture of a table next to a couch">
  </div>
</div>
</section>

<style>
  .col p {
    font-size: 0.875em;
  }

  .row {
    justify-content: space-between;
  }

  .choose-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .choose-image {
    max-width: 100%;
    height: auto;
  }

  .image-container{
    position: relative;
    z-index: 1;
  }

  .image-container::before {
    content: "";
    background-image: url("../images/dots-yellow.svg");
    position: absolute;
    width: 255px;
    height: 217px;
    top: -15%;
    left: -15%;
    z-index: -1;
  }

  @media (max-width: 992px) {
    .image-container {
      margin-top: 5em;
    }
  }

</style>