---
import 'bootstrap/dist/css/bootstrap.css'
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

/** 
interface Props {
	title: string;
	headerTitle: string;
	headerText: string;
}
*/

const { title, headerTitle, headerText} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<Navigation />
			<div class="container row">
				<div class="title-description col-sm">
					<h1>{headerTitle}</h1>
					<p>{headerText}</p>
					<button type="button" class="btn btn-warning">Shop Now</button>
					<button type="button" class="btn btn-outline-light">Explore</button>
				</div>
				<div class="hero-image col-sm">
					<img src="/src/images/couch.png" alt="">
				</div>
			</div>
		</header>
		<slot />
		<Footer />

		<script>
			import "../scripts/carousel.js"
		</script>
	</body>
</html>
